.container {
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: rgba(60, 60, 60, 1);
	grid-column: 2;
	grid-row: 1;
}

.canvas {
	margin: auto;

}