.list {
	grid-row: 1 / span 2;
	grid-column: 1;
	overflow-y: scroll;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 8px 0;
	transform: translateX(0px);

	transition: transform 0.1s;
}

.hidden {
	transform: translateX(-256px);
	width: 0;
}